{{ if eq $.Params.title "Thank You, You're Confirmed in the Vibe Beta" }}
    {{ partial "head2.html" . }}
{{ else }}
    {{ partial "head.html" . }}
{{ end }}

{{ if eq $.Params.title "" }}
    {{ partial "account.html" . }}
{{ else if eq $.Params.title "Welcome to My Awesome App" }}
    {{ partial "signin.html" . }}
{{ else }}
    {{ partial "header.html" . }}
    <div class="heroD">
        <div class="headerTextD">{{ .Title }}</div>
        <div class="introTextD">{{ .Content }}</div>
    </div>
{{ end }}

{{ partial "footer.html" . }}