{{ partial "head.html" . }}

{{ if eq $.Params.title "Account" }}
    {{ partial "account.html" . }}
{{ else if eq $.Params.title "Signin" }}
    {{ partial "signin.html" . }}
{{ else if eq $.Params.title "Subscription" }}
    {{ partial "subscription.html" . }}
{{ else if eq $.Params.title "Subscription Confirmation" }}
    <div class="authHead plainHead">
        {{ partial "header.html" . }}
    </div>
    <div class="confirmation">
        Thank you for subscribing to Vibe
    </div>
{{ else }}
    {{ partial "header.html" . }}
    <div class="heroD">
        <div class="headerTextD">{{ .Title }}</div>
        <div class="introTextD">{{ .Content }}</div>
    </div>
{{ end }}

{{ partial "footer.html" . }}