{{ partial "head.html" . }}

<div class="headerAccount">

    <div class="header1">
        <a href="/"><img class="logo1" src={{ "/img/vlogo.png" | relURL }}></a>
    </div>

    <div class="header2">
        <a class="logout" href="" ng-click="logout()">Logout</a><br>
    </div>

</div> 

<div class="accountBody">
    <div class="account">
        <div class="sidebar">
            <h2>Account</h2>
            <p>Your Vibe ID is used to login.</p>
        </div>

        <ng-form class="accountForm">
            <p>Name</p>
            <input type="text" placeholder="First &amp Last Name" required class="input" ng-model="user.name">
            <p>Email</p>
            <input type="email" placeholder="example@email.com" required class="input" ng-model="auth.email">
            <p>Password</p>
            <input type="password" placeholder="password" required class="input" ng-model="auth.password">
        </ng-form>

    </div>

    <div class="subscription">
        <div class="sidebar">
            <h2>Subscription &amp Billing</h2>
            <p>Manage your Vibe subscription and payment method.</p>
        </div>


        <div class="subForm">
            <ng-form class="ship">
                <h4>Delivery Address</h4>
                <p>Address Line 1</p>
                <input type="text" placeholder="1234 Pleasent St" required class="input" ng-model="user.delivery.address[0]">
                <span>
                    <div>
                        <p>Address Line 2</p>
                        <input type="text" placeholder="Apt. 1" required class="input" ng-model="user.delivery.address[1]">
                    </div>
                    <div>
                        <p>City</p>
                        <input type="text" placeholder="San Francisco" required class="input" ng-model="user.delivery.city">
                    </div>
                </span>
                <span>
                    <div>
                        <p>State</p>
                        <input type="text" placeholder="CA" required class="input" ng-model="user.delivery.state">
                    </div>
                    <div>
                        <p>Zip Code</p>
                        <input type="number" min="00000" max="99999" placeholder="12345" required class="input" ng-model="user.delivery.zipcode">
                    </div>
                </span>
                </form>

                <ng-form class="bill">
                    <h4>Billing Address</h4>
                    <p>Address Line 1</p>
                    <input type="text" placeholder="1234 Pleasent St" required class="input" ng-model="user.billing.address[0]">
                    <span>
                        <div>
                            <p>Address Line 2</p>
                            <input type="text" placeholder="Apt. 1" required class="input" ng-model="user.billing.address[1]">
                        </div>
                        <div>
                           <p>City</p>
                            <input type="text" placeholder="San Francisco" required class="input" ng-model="user.billing.city"> 
                        </div>
                    <!-- </span>
                    <span> -->
                        <div>
                            <p>State</p>
                            <input type="text" placeholder="CA" required class="input" ng-model="user.billing.state">
                        </div>
                        <div>
                            <p>Zip Code</p>
                            <input type="number" min="00000" max="99999" placeholder="12345" required class="input" ng-model="user.billing.zipcode">
                        </div>
                    </span>
                </ng-form>

                <form class="pay" action="/" method="post">
                    <h4>Payment Method</h4>
                    <p>Full Name</p>
                    <input type="text" placeholder="First &amp Last Name" required class="input">
                    <p>Card Number</p>
                    <input type="number" placeholder="4012 8888 8888 1881" required class="input">
                    <span>
                        <div>
                            <p>Expiration Date</p>
                            <input type="text" placeholder="12/20" required class="input">
                        </div>
                        <div>
                            <p>Security Code</p>
                            <input type="number" placeholder="123" required class="input">
                        </div>
                    </span>
                </form>

                <ng-form>
                    <p>Promo Code</p>
                    <input type="text" placeholder="Enter Promo Code" required class="input" ng-model="user.promoCode">
                </ng-form>
                
        </div>

    </div>

    <div class="subOptions">
        <label class="trigger">
            <input type="radio" name="subscription" value="active" checked="checked" class="radio radio--green active">Activate Subscription</input>
            <input type="radio" name="subscription" value="paused" checked="checked" class="radio radio--red">Pause Subscription</input>
            <span class="msg">
                <input type="radio" name="months" value="one" class="radio radio--blue-grey month1" ><p class="pause">Pause for 1 month</p></input>
                <input type="radio" name="months" value="two" class="radio radio--blue-grey month2" ><p class="pause">Pause for 2 months</p></input>
                <input type="radio" name="months" value="three" class="radio radio--blue-grey month3" ><p class="pause">Pause for 3 months</p></input>
            </span>
        </label>
    </div>

    <div class="update">
        <button class="finalButton action-button animate" ng-click="save()">Save</button>
    </div>

</div>