        

        <div class="spaceBottom2"></div>
        <div class="footer">

            <div>
            <img class="footerLogo" src={{ "/img/vlogo.png" | relURL }}><br>  
            </div>
            <div>
                <a class="footerLink" href="/signin">SignUp / LogIn</a>
            </div>
            <a class="footerLink" href="/frequently-asked-questions">| FAQ + CONTACT |</a>
            <div class="divider">
                <div class="social-footer">
                    <a href="http://www.facebook.com/vibeltd"><img class="fb2" src={{ "/img/vfb.png" | relURL }}></a>
                    <a href="http://www.twitter.com/vibeltd"><img class="twitter2" src={{ "/img/vtwitter.png" | relURL }}></a>
                    <a href="http://www.instagram.com/vibeltd"><img class="insta2" src={{ "/img/vinsta.png" | relURL }}></a>
                    <a href="https://www.pinterest.com/vibeltd/"><img class="pin2" src={{ "/img/vpin.png" | relURL }}></a>
                </div>
            </div>
            <div class="copyright">Copyright &copy{{ .Site.Copyright }}</div>
        </div>

    </body>
</html>