<div class="hero">
    <div class="textWrap">
        <div class="heroText2">
            
            DISCOVER YOUR
            <div class="showBr"></div>
            NEW FAVORITE
            <div class="showBr"></div>

            <div class="words words-1">
                <span>COFFEE.</span>
                <span>CHOCOLATE.</span>
                <span>CANNABIS.</span>
                <span>COFFEE.</span>
                <span>CHOCOLATE.</span>
                <span>CANNABIS.</span>
            </div>

        </div>
    </div>
</div>

<a href="#intro" rel="relativeanchor"><img src={{ "/img/varrow.png" | relURL }} class="arrow"></a>
