<div id="intro">
		
	<div class="introText">
		Vibe is a tasting menu of premium cannabis, speciality coffee and craft chocolates. Each box is a collection of ingredients
		for making moments in time.
		<br><br> The moment begins from three wonders of nature. It's then brought forth by the hands, tools, and knowledge of
		humans.
		<br><br> The moment in time is yours alone, and can be shared freely. The moment passes but the Vibe persists.
	</div>

	<img class="accordionButton" src={{ "/img/vbutton.jpg" | relURL }}>
	<div class="accordionContent">

		{{ partial "mailchimp.html" . }}

	</div>
		
</div>


<div class="blockMain">
	<div class="blockText">HOW VIBE WORKS</div>
	<div class="blockLine"></div>

	<div class="triBlock">
		<div class="triBlockCol1">
			<div class="number">1</div>
			<div class="triTitle">SELECTION</div>
			<div class="triText">Choose your ideal provision. 2 of 3 products minimum. Mix, match and multiply. Cancel anytime.
			</div>
		</div>
		<div class="triBlockCol2">
			<div class="number">2</div>
			<div class="triTitle">SOURCING</div>
			<div class="triText">We source from small but mighty producers that embody craftsmanship and sustainability in their trade. Delicious quality
				and alot of love from farm level to you.
			</div>
		</div>
		<div class="triBlockCol3">
			<div class="number">3</div>
			<div class="triTitle">ENJOY</div>
			<div class="triText">Your provision is discreetly delivered to your home. Open the box and enjoy a limited moment in time made just for you.
			</div>
		</div>
	</div>
</div>


<div class="whatBox">
		
	<div class="blockText">WHAT'S IN THE BOX</div>
	<div class="blockLine2"></div>

	<div class="whatBoxRow">
		<div class="whatBoxCol1"><img src={{ "/img/vcanna.jpg" | relURL }} class="pImg"></div>
		<div class="whatBoxCol2">
			<div class="whatTitle">CANNABIS</div>
			<div class="whatText">Mostly pre-rolls and oils for vaping from flower grown on small farms in CA, OR, & WA. Plus special edible treats.
				<BR> 1/8 oz equivalent / Lab Tested
			</div>
		</div>
	</div>

	<div class="whatBoxRow">
		<div class="whatBoxCol1"><img src={{ "/img/vchocolate.jpg" | relURL }} class="pImg"></div>
		<div class="whatBoxCol2">
			<div class="whatTitle">CHOCOLATE</div>
			<div class="whatText">Alluring dark chocolates, expertly sourced and produced in small batches by master chocolatiers.
				<BR> 2 bars
			</div>
		</div>
	</div>

	<div class="whatBoxRow">
		<div class="whatBoxCol1"><img src={{ "/img/vcoffee.jpg" | relURL }} class="pImg"></div>
		<div class="whatBoxCol2">
			<div class="whatTitle">COFFEE</div>
			<div class="whatText">Aromatic single origins and awaken your senses espresso blends, sourced and freshly roasted by the best.
				<BR> 12oz Whole Beans
			</div>
		</div>
	</div>

</div>


<div class="blockMain">
	<div class="blockText">SOMETHING VERY SPECIAL IN EVERY BOX</div>
	<div class="blockLine"></div>

	<div class="triBlock">
		<div class="triBlockCol1">
			<img class="drop" src={{ "/img/vdrop.png" | relURL }}>
			<div class="plus">+</div><img class="books" src={{ "/img/vbooksicon.png" | relURL }}>
			<div class="triTitle">WATER + BOOKS</div>
			<div class="triText">Fresh Drinking Water and Books for Origin communities</div>
		</div>
		<div class="triBlockCol2">
			<img class="like" src={{ "/img/vlike.png" | relURL }}>
			<div class="plus">+</div><img class="tongue" src={{ "/img/vtongue1.png" | relURL }}>
			<div class="triTitle">LIKE MINDS</div>
			<div class="triText">Connect to a community of enthusiasts to compare tasting notes
			</div>
		</div>
		<div class="triBlockCol3">
			<img class="heart" src={{ "/img/vheart.png" | relURL }}>
			<div class="plus">+</div><img class="raise" src={{ "/img/vraise.png" | relURL }}>
			<div class="triTitle">IMMENSE GRATITUDE</div>
			<div class="triText">Your participation directly supports our passion and the livelihood of everyone involved. We are honored and grateful
				to serve you.</div>
		</div>
	</div>
</div>

<div class="footerForm">
	<img class="accordionButton spaceBottom" src={{ "/img/vbutton.jpg" | relURL }}>
	<div class="accordionContent">

			{{ partial "mailchimp.html" . }}

	</div>
</div>