{{ partial "head.html" . }}

{{ partial "header.html" . }}

	<div class="hero">
		<div class="heroText">FREQUENTLY ASKED QUESTIONS</div>
	</div>

	<a href="#intro" rel="relativeanchor"><img src={{ "/img/varrow.png" | relURL }} class="arrow"></a>
	
	<div id="intro">

		<div class="introText">
			<h3>What if I'm allergic to or just don't like either chocolate, cannabis, or coffee? </h3>
			Vibe will offer a "2/3" option soon, so you can remove any one item from your provision.

			<h3>What if I prefer Tea to Coffee? </h3>
			We love Tea too, and will be offering a Tea option very soon. <br>
			<br>

			<h3>What if like coffee but only drink decaf? </h3>
			Decaf is awesome! You can specify your preference for decaffeinated coffee beans when you subscribe. <br>
			<br>

			<h3>Do I have to get a delivery every month? </h3>
			There will be a few frequency options, including the standard monthly delivery, a Double Shot option (2 provisions per month),
			Slow Motion (1x provision every 2 months / 2 deliveries per quarter).<br>
			<br>

			<h3>Can I pause my subscription if I'm traveling or want to take a break?</h3>
			Of course, just contact us <b>service@vibeltd.co</b> in advance and we'll make it happen.<br>
			<br>
			<br>

			<h3>Is Cannabis legal?</h3>
			Yessir! In 1996 California voters passed Prop 215 legalizing medical marijuana, and then in 2016 California voters (finally)
			passed Prop 64 legalizing recreational use of marijuana for adults.<br>
			<br>

			<h3>Is the coffee and chocolate infused with cannabis?</h3>
			Nope. The coffee and chocolate offerings are all natural, sourced from the best roasters and chocolate makers. We keep it
			simple. <br>
			<br> **Edibles are awesome, we will occasionally include tasty cannabis infused treats. <br>
			<br>

			<h3>This the greatest idea since The Facebook, is Vibe hiring and/or can I invest in the company?</h3>
			You betcha! We are a small but mighty team of enthusiasts with wide variety of backgrounds and skills. If you can help us
			grow and thrive please reach out at: <b>vibetribe@vibeltd.co</b>
			<br>

			<h3>How do I get my amazing coffee, chocolate, or cannabis products featured in a Vibe provision?</h3>
			Let's chat - please reach out to: <b>partners@vibeltd.co</b>
			<br>

			<h3>Do you have any other questions, comments, or concerns?</h3>
			Reach out anytime at <b>hello@vibeltd.co</b> or <a href="www.twitter.com/vibeltd>"><b>@vibeltd</b></a> <br>
			<br>
		</div>

		<img class="accordionButton" src={{ "/img/vbutton.png" | relURL }}>
		<div class="accordionContent">
				
			{{ partial "mailchimp.html" . }}

		</div>

{{ partial "footer.html" . }}