{{ partial "head.html" . }}

{{ partial "header.html" . }}

	<div class="heroD">
		<div class="headerTextD">Thank You, You're Confirmed in the Vibe Beta</div>
			<div class="introTextD">
				<div class="introTextD2">Whats next?</div>
				<div class="introSpacingD"></div>
				<li>We will be in touch very soon about reserving your Provision. </li>
				<div class="introSpacingD"></div>

				<li>Provisions cost $69 (free shipping) and ship monthly. </li>
				<div class="introSpacingD"></div>

				<li>Provisions will feature new products each month, all sourced for amazing quality and exceptional flavor. </li>
				<div class="introSpacingD"></div>

				<li>Vibe is currently only serving residents of California. </li>
				<div class="introSpacingD"></div>

				If you have any questions or feedback please send us an email to <b>hello@vibeltd.co</b> or tweet us : <a href="https://twitter.com/vibeltd">@vibeltd</a>
				<div class="introSpacingD"></div>

				Thanks so much!

			</div>
	</div>

{{ partial "footer.html" . }}